<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wallpapers">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Wallpapers">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.AppAmazonWidgetReceiver"
            android:exported="true"
            android:label="Amazon">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_amazon_info" />
        </receiver>

        <receiver
            android:name=".widget.AppAmazonRespWidgetReceiver"
            android:exported="true"
            android:label="Amazon (Resp.)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_amazon_info" />
        </receiver>
        <!--    Calculator     -->
        <receiver
            android:name=".widget.AppCalculatorWidgetReceiver"
            android:exported="true"
            android:label="Calculator">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_calculator_info" />
        </receiver>

        <receiver
            android:name=".widget.AppCalculatorRespWidgetReceiver"
            android:exported="true"
            android:label="Calculator (Resp.)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_calculator_info" />
        </receiver>
        <!--    Calculator     -->

        <!--    Calendar     -->
        <receiver
            android:name=".widget.AppCalendarWidgetReceiver"
            android:exported="true"
            android:label="Calendar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_calendar_info" />
        </receiver>

        <receiver
            android:name=".widget.AppCalendarRespWidgetReceiver"
            android:exported="true"
            android:label="Calendar (Resp.)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_calendar_info" />
        </receiver>
        <!--    Calendar     -->

        <!--    Camera     -->
        <receiver
            android:name=".widget.AppCameraWidgetReceiver"
            android:exported="true"
            android:label="Camera">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_camera_info" />
        </receiver>

        <receiver
            android:name=".widget.AppCameraRespWidgetReceiver"
            android:exported="true"
            android:label="Camera (Resp.)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_camera_info" />
        </receiver>
        <!--    Camera     -->

        <!--    ChatGPT     -->
        <receiver
            android:name=".widget.AppGPTWidgetReceiver"
            android:exported="true"
            android:label="ChatGPT">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_gpt_info" />
        </receiver>

        <receiver
            android:name=".widget.AppGPTRespWidgetReceiver"
            android:exported="true"
            android:label="ChatGPT (Resp.)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_gpt_info" />
        </receiver>
        <!--    ChatGPT     -->
    </application>

</manifest>